USE [master]
GO
/****** Object:  Database [DkvK22CTN3Lesson07Db]    Script Date: 12/06/2024 11:48:51 SA ******/
CREATE DATABASE [DkvK22CTN3Lesson07Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DkvK22CTN3Lesson07Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DkvK22CTN3Lesson07Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DkvK22CTN3Lesson07Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DkvK22CTN3Lesson07Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DkvK22CTN3Lesson07Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DkvK22CTN3Lesson07Db]
GO
/****** Object:  Table [dbo].[DkvKhoa]    Script Date: 12/06/2024 11:48:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DkvKhoa](
	[DkvMaKH] [nchar](10) NOT NULL,
	[DkvTenKH] [nvarchar](50) NULL,
	[DkvTrangThai] [bit] NULL,
 CONSTRAINT [PK_DkvKhoa] PRIMARY KEY CLUSTERED 
(
	[DkvMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dkvSinhVien]    Script Date: 12/06/2024 11:48:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dkvSinhVien](
	[DkvMaSV] [nvarchar](50) NOT NULL,
	[DkvHoSV] [nvarchar](50) NULL,
	[DkvTenSV] [nvarchar](50) NULL,
	[DkvNgaySinh] [date] NULL,
	[DkvPhai] [bit] NULL,
	[DkvPhone] [nchar](10) NULL,
	[DkvEmail] [nvarchar](50) NULL,
	[DkvMaKH] [nchar](10) NULL,
 CONSTRAINT [PK_dkvSinhVien] PRIMARY KEY CLUSTERED 
(
	[DkvMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dkvSinhVien] ([DkvMaSV], [DkvHoSV], [DkvTenSV], [DkvNgaySinh], [DkvPhai], [DkvPhone], [DkvEmail], [DkvMaKH]) VALUES (N'2210900137', N'Đỗ', N'Khắc Việt', CAST(N'2004-02-15' AS Date), 1, N'0967993091', N'dov28501@gmail.com', N'2210900137')
GO
USE [master]
GO
