@{
    ViewBag.Title = "Đỗ Khắc Việt";
}
<h2>@ViewBag.Title.</h2>
<h3>đây là bài kiểm tra của việt  </h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinh@gmail.com">chungtrinh@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dov28501@gmail.com">dov28501@gmail.com</a>
</address>